<div class="container">
    <!-- <div class="raseel_logo">
        <img src="../../../../assets/images/raseel_horizontal_logo.png" alt="raseel_horizontal_logo">
    </div> -->
    <div class="desc">
        <h3>{{'auth.change_password.change_your_password' | translate}}</h3>
        <p>{{'auth.change_password.change_password_to_proceed' | translate}}</p>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>{{'auth.change_password.enter_username' | translate}}</mat-label>
            <input type="text" matInput formControlName="userName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'auth.change_password.enter_old_password' | translate}}</mat-label>
            <input type="password" matInput formControlName="currentPassword">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'auth.change_password.enter_new_password' | translate}}</mat-label>
            <input type="password" matInput formControlName="newPassword">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'auth.change_password.enter_confirm_password' | translate}}</mat-label>
            <input type="password" matInput formControlName="confrimPassword">
        </mat-form-field>
        <button type="submit" mat-raised-button>{{'auth.change_password.change_password' | translate}}</button>
    </form>
</div>

<div class="backButton">
    <button type="button" mat-icon-button routerLink="/auth">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>