@import "../../../../assets/scss/variables/variables";
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    position: relative;

        .raseel_logo {
                width: 10rem;
                position: absolute;
                top: -12rem;
        
        
                img {
                    width: inherit;
                }
            }

    .desc {
        position: absolute;
        top: -6.5rem;
        color: #fff;
        text-align: center;

        h3,
        p {
            margin-block: 0.5rem;
        }

        p{
            white-space: nowrap;
        }
    }


    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: inherit;
        width: 100%;

        mat-form-field {
            width: inherit;
        }

        button {
            width: 100%;
            background-color: #35c15a;
            color: #fff;
            font-size: 1rem;
        }
    }
}

.backButton{
    position: absolute;
    top: calc(0.5rem + $StatusBarHeight);
    left: 0.5rem;
    color: #fff;
}