<div class="container">
    <!-- <div class="raseel_logo">
        <img src="../../../../assets/images/raseel_horizontal_logo.png" alt="raseel_horizontal_logo">
    </div> -->
    <div class="desc">
        <h3>{{'auth.forgot_password.request_for_new_password' | translate}}</h3>
        <p>{{'auth.forgot_password.please_enter_user_name' | translate}}</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>{{'auth.forgot_password.enter_username' | translate}}</mat-label>
            <input type="text" matInput formControlName="userName" autofocus>
        </mat-form-field>
        <button type="submit" mat-raised-button>{{'auth.forgot_password.submit' | translate}}</button>
    </form>
</div>

<div class="backButton">
    <button type="button" mat-icon-button routerLink="/auth">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>