.fields{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .field{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        // button{
        //     margin-inline-start: 1rem;
        //     margin-bottom: 1rem;
        // }
    }

    mat-form-field{
        width: 100%;
    }
}