<div class="container">
    <p class="text">
        {{'newInstallation.device_communication_test.verify_divice_communication_text' | translate}}
    </p>
    <div class="image">
        <img src="../../../../../assets/images/varify_device.png" alt="verify-device">
    </div>
    <div class="action">
        <button mat-flat-button type="button" (click)="skipDeviceCommunicationTest()">
            {{'newInstallation.device_communication_test.skip' | translate}}
        </button>
    </div>
</div>