<div class="container">
    <div class="raseel_logo">
        <img [src]="(logoSrc === 'IND') ? '../../../../../assets/images/TATA-Communications.png' : '../../../../../assets/images/Raseel_Vertical_Black-removebg-preview.png'" alt="">
    </div>
    <div class="space" [ngClass]="{'india_local': logoSrc === 'IND'}">
        <div class="innerSpace"></div>
    </div>
    <div class="main-content">
        <div class="desc">
            <h3>{{'settings.change_password.change_your_password' | translate}}</h3>
        </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>{{'settings.change_password.enter_old_password' | translate}}</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{'settings.change_password.enter_new_password' | translate}}</mat-label>
                <input type="password" matInput formControlName="newPassword">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{'settings.change_password.enter_confirm_password' | translate}}</mat-label>
                <input type="password" matInput formControlName="confirmPassword">
            </mat-form-field>
            <button type="submit" mat-raised-button>{{'settings.change_password.change_password' | translate}}</button>
        </form>
    </div>
    @if(logoSrc === 'SA')
    {
        <ng-container>
            <div class="footer">
                <p>{{'auth.powered_by' | translate}}: </p>
                <img src="../../../../../assets/images/auth_footer_logo.png" alt="">
            </div>
        </ng-container>    
    }
</div>

<div class="backButton">
    <button type="button" mat-icon-button routerLink="..">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>