.container {
    background: url('../../../../../assets/images/auth_background.png') no-repeat;
    height: calc(100vh - env(safe-area-inset-top));
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

    .space{
        height: 4rem;
        .innerSpace{
            height: inherit;
        }
    }

    .raseel_logo{
        width: 10rem;
        margin-top: 10%;


        img{
            width: inherit;
        }
    }

    .main-content {
        background-color: #fff;
        min-width: 20rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        position: relative;
        z-index: 1;

        .desc {
            position: absolute;
            top: -3.5rem;
            color: #fff;
            text-align: center;

            h3,
            p {
                margin-block: 0.5rem;
            }
        }


        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: inherit;
            width: 100%;

            mat-form-field {
                width: inherit;
            }

            button {
                width: 100%;
                background-color: #35c15a;
                color: #fff;
                font-size: 1rem;
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 0;

        p {
            margin-block: 0rem;
            color: #fff;
            font-size: 0.8rem;
        }

        img {
            width: 14rem;
        }
    }
}

.backButton {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: #fff;
}