.fields{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    mat-form-field{
        width: 100%;
    }

    // .preffix{
    //     margin-inline-end: 1rem;
    // }

    // .suffix{
    //     width: 7rem;
    // }

    button{
        // margin-bottom: 1rem;
        // margin-inline-start: 1rem;
        position: fixed;
        bottom: 4rem;
    }
}
@media  (min-height:500px) {
   
    .fields {
      button {
        bottom: 5rem ;
      }
    }
  }